.navbar {
  width: 20%;
  height: 100vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.navbar__title {
  font-size: 26px;
  font-weight: 600;
  background-color: #4484EB;
  color: #fff;
}
.p20 {
  padding: 20px;
}
.navbar__icon {
  font-size: 18px;
  margin-right: 10px;
}
.navbar__link {
  text-decoration: none;
  color: #212121;
}
.navbar .bxs-bar-chart-square {
  position: relative;
  top: 1px;
}
.navbar__content {
  border-left: 4px solid transparent;
}
.active .navbar__content {
  border-left: 4px solid #4484EB;
}





